{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-sm bg-light">
    <div class = "container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <span class = "navbar-brand mb-0 h1">{{Nama}}</span>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{{nama}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'wishlist:logout' %}">Logout</a>
                </li>
            </ul>
        </div> 
    </div>
</nav>
<br>
<table>
    <tr>
    <th>Nama Barang</th>
    <th>Harga Barang</th>
    <th>Deskripsi</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for barang in list_barang %}
        <tr>
            <th>{{barang.nama_barang}}</th>
            <th>{{barang.harga_barang}}</th>
            <th>{{barang.deskripsi}}</th>
        </tr>
    {% endfor %}
</table>
<br>
<h5 class = "text-primary">Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}